* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
body {
    font-family: 'Open Sans', sans-serif;
    min-width: 1440px;
}


/* color */

:root {
    --drbx-black: #010001;
    --drbx-white: #FFFFFF;
    --drbx-bkgr-and-square6: #B5D0E6;
    --drbx-accent: #0160FF;
    --drbx-square1: #A3D39A;
    --drbx-square2-alternativeFont: #60092B;
    --drbx-square3: #0192CE;
    --drbx-square4: #FE1C1D;
    --drbx-big-square: #F5F4F4;
    --drbx-square5: #D4011F;
    --drbx-square7: #0D2580;
    --drbx-square8: #FED831;
}


/* utilities */

.d_flex {
    display: flex;
}


/* #region header */
.bannersite {
    width: 100%;
    height: 60px;

}

.site_header {
    height: 100%;
    justify-content: space-between;
    text-align: center;
}

.leftheader,
.rightheader {
    padding: 1rem;
    text-align: center;
}


.site_header a {
    text-decoration: none;
    font-size: 13px;
    padding-left: 3rem;
    color: var(--drbx-black)
}

#startblue {
    background-color: var(--drbx-accent);
    padding: 0.4rem;
    color: white;
    margin-left: 1rem;
}

/* #end region header */

.container {
    width: 100%;
    height: 550px;
    background-color: var(--drbx-bkgr-and-square6);
}

.jumbotron {
    width: 65%;
    height: 800px;
    margin: 0 auto;

    padding: 2rem;

}


.titletop {
    margin: 2rem;
    font-size: 30px;
    width: 65%;
    margin-bottom: 2rem;
    margin-left: -0.2rem;
}

.midjumbo {
    width: 100%;
    height: 200px;
    font-size: 15px;
}

.infojumbo {
    width: 350px;
    font-size: 13px;
}

.infojumbo p{
    line-height: 1.3rem;
}

.try {
    padding-top: 2rem;
}

.try a {
    flex-direction: column;
    text-decoration: none;
    display: inline;
    color: var(--drbx-black)
}

#tryfree {
    background-color: var(--drbx-accent);
    padding: 0.4rem;
    color: white;
    text-decoration: none;


}

.arrow {
    padding-top: 3rem;
}


/* end jumbotron */

.long_section {
    width: 50%;
    height: 900px;
    margin: 4.5rem auto;
    margin-bottom: 2rem;
}

.searchpln {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 2rem;
    padding: 1rem;
}

.choice input {
    margin-left: 1rem;

}

.card{
    float: left;
}

.topcard {
    width: 236px;
    height: 30px;
    border: 1px solid var(--drbx-big-square);
    margin-left: 1rem;
    margin-top: 2rem;
    text-align: center;

}

.topcard span {
    font-size: 12px;
}

.maincard {
    max-width: 235px;
    width: 235px;
    height: 700px;
    border: 1px solid var(--drbx-big-square);
    border-top: none;
    padding: 1rem;
    text-align: left;

}

.maincard h5 {

    padding-top: 0.5rem;
}

.maincard p {
    font-size: 10px;
    color: grey;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



.try30 a{
    font-size: 12px;
    color: white;
    background-color: var(--drbx-accent);
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    margin: 2rem 0;
    width: 100%;
    text-align: center;

}
.buynow{
    font-size: 12px;
      
}
.midcard{
    margin-bottom: 2rem;
}

.chechpoint h5{
    margin: 2rem 0;
}


.chechpoint ol {
    list-style: none;
}

.chechpoint li {
    margin-top: 1rem;
    font-size: 12px;
}

.bottom_section{
    width: 50%;
    height: 200px;
    margin: 2rem auto 4rem auto;
}

.titlebottom_card {
    max-width: 740px;
    height: 30px;
    border: 1px solid var(--drbx-big-square);
    margin-left: 1rem;
    text-align: center;
}

.midbottom_card, .bottom_card {
    width: 740px;
    height: 20%;
    border-top: none;
    margin-left: 1rem;
    justify-content: space-between;
    border: 1px solid var(--drbx-big-square);
    padding: 1rem;
    border-top:none;
    border-bottom: none;
    
}

.bottom_card{
    border-bottom:1px solid var(--drbx-big-square); 
    height: 100px;
    text-align: left;
}
    

.midbottom_card span{
    font-size: 20px;
    font-weight: bold;
}

.midbottom_card a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    background-color: var(--drbx-accent);
    height: 30px;
    padding: 0.5rem;
    text-align: center;
      
}

.bottom_card h5 {
    
    display: inline-block;
}

.bottom_card p{
    font-size: 12px;
    margin-top: 1.5rem;
    width: 80%;
}

.partner{
    width: 745px;
    height: 400px;
    margin: 5rem auto;
}

.findpartner  img{
    text-align: left;
}

.rightpartner{
    flex-direction: column;
    padding: 1.5rem;
}

.rightpartner h5{
    font-size: 18px;
    text-align: left;
}

.rightpartner p{
    font-size: 14px;
    line-height: 1.3rem;
    padding: 1rem 0;
    text-align: left;
}

.btnpartner{ text-decoration: none;
    font-size: 12px;
    color: black;
    border: 1px solid black;
    height: 30px;
    padding: 0.3rem;
    text-align: center;
    width: 120px;
}

.db_businnes{
    width: 745px;
    height: 1000px;
    margin: 1rem auto;
    
}
.db_businnes h2{
    font-size: 28px;
    padding: 1rem 0;
}

.db_businnes img {
    max-width: 100%;
}

.row {
    flex-direction: column;
    width: calc(100% / 3);
    float: left;
    padding: 1rem;
}

.row span {
    font-weight: bold;
    font-size: 20px;
}
.row p {
    font-size: 13px;
    margin: 2rem 0;
}